# ===========================================================================
# PIG: Scripting Platform
# ===========================================================================
services:
  pig:
    build: ./hadoop-fix
    image: hadoop-fixed:3.3.6
    container_name: pig
    hostname: pig
    restart: no
    command: ["tail", "-f", "/dev/null"]
    environment:
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
      - YARN_CONF_yarn_resourcemanager_hostname=resourcemanager
      - MAPRED_CONF_mapreduce_framework_name=yarn
    volumes:
      # Map the local 'scripts' folder to '/opt/pig-scripts' inside the container
      - ./scripts:/opt/pig-scripts
    networks: [bigdata-net]
    depends_on:
      - namenode
networks:
  bigdata-net:
    name: bigdata-net
    driver: bridge
